.custom-h1 {
  display: flex; 
  justify-content: flex-start;
}
.custom-container {
    display: flex;
    justify-content: flex-end;
    align-content: "center";
}
.custom-style {
  display: flex;
  justify-content: space-between;
  align-content: "center";
}
.custom-button {
    padding-right: 15px;
    background-color: #2591de;
    color: white;
}