
.demo-logo{
  background-color: gray;
  height: 40px;
  width: 200px;
}
.custom-header{
  display: flex; 
  align-items: center; 
  height: '80px';
  justify-content: space-between; 
  background-color: rgb(35, 30, 31);
}

/* Style fo the entire menu */
.custom-menu {
  background-color: white;
  border-right: 1px solid #d9d9d9;
  font-size: 16px;
  height: fit-content; 
}
.custom-trigger {
  background-color: rgb(35, 30, 31);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sider-fixed {
  position: fixed;
  height: 100vh; 
  left: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}

.main-content {
  margin-left: 250px; /* Khoảng cách bằng với chiều rộng của Sider */
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
}
.user-infor {
  position: absolute;
  top: 4.5%;
  right: 60px;
  transform: translateY(-50%);
}

.user-name {
  background-color: #fff;
  color: #000;
  border-radius: 50%; /* Tạo hình tròn */
  padding: 10px;
  text-align: center;
  width: 55px; 
  height: 55px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.user-infor .ant-btn {
  padding: 0; 
  border: none;
  background: none;
}



/* Style for the menu items */
/* .custom-menu .ant-menu-item {
  padding: 10px 20px;
  color: #333;
} */

/* Hover effect for menu items */
/* .custom-menu .ant-menu-item:hover {
  background-color: #e6f7ff;
  color: #1890ff;
} */

/* Style for selected menu item */
/* .custom-menu .ant-menu-item-selected {
  background-color: #1890ff;
  color: #fff;
} */

/* Style for submenu title */
/* .custom-menu .ant-menu-submenu-title {
  font-weight: bold;
  color: #1890ff;
} */

/* Style for submenu item hover */
/* .custom-menu .ant-menu-submenu-title:hover {
  color: #40a9ff;
} */
