.custom-header {
  display: flex;
  align-items: center;
  height: '80px';
  justify-content: space-between;
  background-color: rgb(145, 71, 86);
}

.custom-menu {
  background-color: white;
  border-right: 1px solid #d9d9d9;
  font-size: 16px;
  height: fit-content;
}

.custom-trigger {
  background-color: #1b7cc2;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sider-fixed {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
}

.user-info-container {
  position: relative;
  left: 1020px;
  border-radius: '50%';
  
}
.logout-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px; 
  cursor: pointer;
  padding: 0;
  outline: none;
}

.logout-btn:hover {
  color: white; 
}
.user-name{
  color: white;
  font-size: 16px;
}
.user-icon{
  color: white;
  font-size: 20px;
}
