
.demo-logo{
  background-color: gray;
  height: 40px;
  width: 200px;
}
.custom-header{
  display: flex; 
  align-items: center; 
  height: '80px';
  justify-content: space-between; 
}

/* Style fo the entire menu */
.custom-menu {
  background-color: #f0f2f5;
  border-right: 1px solid #d9d9d9;
  font-size: 16px;
  height: 100%; 
}

/* Style for the menu items */
/* .custom-menu .ant-menu-item {
  padding: 10px 20px;
  color: #333;
} */

/* Hover effect for menu items */
/* .custom-menu .ant-menu-item:hover {
  background-color: #e6f7ff;
  color: #1890ff;
} */

/* Style for selected menu item */
/* .custom-menu .ant-menu-item-selected {
  background-color: #1890ff;
  color: #fff;
} */

/* Style for submenu title */
/* .custom-menu .ant-menu-submenu-title {
  font-weight: bold;
  color: #1890ff;
} */

/* Style for submenu item hover */
/* .custom-menu .ant-menu-submenu-title:hover {
  color: #40a9ff;
} */
